.clients {
    @include flex;
    gap: $gap;
}

.clients__item {
    height: 92px;
    @include calc (5, $gap, 6);
}

.clients__link {
    width: 100%;
    height: 100%;
    border: 1px solid $sn-icon-color;
    border-radius: 4px;
    outline: transparent;
    @include flex;
    @include transit (border-color);

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}


.clients__icon {
    fill: $sn-icon-color;

    .clients__link:hover &,
    .clients__link:focus & {
        fill: currentColor;
    }

    @include transit (fill);
}
